@charset "utf-8";

// メディアクエリの基準幅
$bp-sp: 768px;
$bp-pc: 769px;

// breakPoint
$breakpoint: 767;

// color
$color_main: #3080b8;
$color_accent: #f39c12;
$color_text_main: #3a3a3a;
$color_text_sub: #fff;

//  SP font-size
$spfz-xl: 7vw;
$spfz-lg: 6vw;
$spfz-md: 3.5vw;
$spfz-sm: 3vw;
$spfz-xs: 2.8vw;
