@use '../mixin/mixin' as *;
@use '../setting/setting' as *;

//【英語タイトル】start ---------------------------------------------------------
// ---------------------------------------------------------【英語タイトル】end
.en-ttl {
  font-family: 'Roboto', sans-serif;
}

//【error-page-img page】start ---------------------------------------------------------

.error-page-img {
  margin-top: 50px;
}

@media screen and (max-width: #{$breakpoint}px) {
  .error-page-img {
    margin-top: 8vw;

    img {
      width: 100%;
    }
  }
}
// ---------------------------------------------------------【error-page-img page】end

//【ボタン】start ---------------------------------------------------------

.primary-btn {
  width: 200px;
  margin: 30px auto 0;

  a {
    display: inline-block;
    padding: 15px 25px;
    outline: 0;
    border: none;
    color: $color_text_sub;
    background-color: $color_accent;
    overflow: hidden;
    transition: color 1s ease-in-out;
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      bottom: 100%;
      left: 100%;
      width: 100%;
      height: 100%;
      background-color: $color_main;
      border-radius: 50%;
      z-index: -1;
      position: absolute;
      transform-origin: center;
      transform: translate3d(-50%, 50%, 0) scale3d(0, 0, 0);
      transition: transform 1.5s ease;
    }

    &:hover {
      cursor: pointer;
      color: $color_text_sub;
      &::before {
        transform: translate3d(-50%, 50%, 0) scale3d(15, 15, 15);
      }
    }
  }
}

@media screen and (max-width: #{$breakpoint}px) {
  .primary-btn {
    width: 100%;
    margin: 8vw auto 0;
    text-align: center;

    a {
      padding: 3.5vw 6vw;
    }
  }
}

// ---------------------------------------------------------【ボタン】end
